<p style="color: green"><%= notice %></p>

<%= render @list %>

<div>
  <%= link_to "Edit ToDo", edit_list_path(@list) %> |
  <%= link_to "Back To All", lists_path %>

  <%= button_to "Delete ToDo", @list, method: :delete %>
</div>
